@model n01467577_Assignment3.Models.Teacher
@{
    ViewBag.Title = "UpdateTeacher";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/ListTeachers">Back To Teachers</a>
    </nav>
    <h2>Update Teacher</h2>
    <form method="POST" action="/Teacher/UpdateTeacher/@Model.TeacherId" name="form_Teacher" onsubmit="return validateData();">
        <div class="inputrow">
            <label for="TeacherFname">First Name:</label>
            <input type="text" id="TeacherFname" name="TeacherFname" value="@Model.TeacherFname" />

        </div>
        <div class="inputrow">
            <label for="TeacherLname">Last Name:</label>
            <input type="text" id="TeacherLname" name="TeacherLname" value="@Model.TeacherLname" />

        </div>
        <div class="inputrow">
            <label for="EmployeeNumber">Employee Number:</label>
            <input type="text" id="EmployeeNumber" name="EmployeeNumber" value="@Model.EmployeeNumber" />
        </div>
        <div class="inputrow">
            <label for="HireDate">Hire Date:</label>
            <input type="text" id="HireDate" name="HireDate" value="@Model.HireDate" />
        </div>
        <div class="inputrow">
            <label for="Salary">Salary:</label>
            <input type="text" id="Salary" name="Salary" value="@Model.Salary" />
        </div>
        <div class="inputrow">
            <input type="submit" id="submit" value="Update" />
        </div>
        <div id="ErrorBox" style="display:none;"></div>
    </form>
</div>



<style>
    .containerlist {
        
        padding-left: 10px;
    }

    .navlink {
        padding-top: 20px;
        font-size: 20px;
        float: right;
        padding-right: 20px;
        color: black;
        font-weight: bold;
    }

    nav a:hover {
        color: blue;
        text-decoration: none;
    }

    h2 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    input {
        margin-bottom: 10px;
    }

    #submit {
        background-color: black;
        color: white;
        margin-top: 20px;
        margin-right:40px;
        padding: 5px;
        font-size: 20px;
        font-weight: bold;
    }

        #submit:hover {
            background-color: gray;
        }
</style>